* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fcfaf8;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfaf9;
    padding: 25px;
    border-bottom: 1px solid #e7e1da;
}

.headerInterno {
    width: 40%;
    min-width: 300px;
    display: flex;
    gap: 10px;
}

.iconQuadradoVerificado {
    width: 18px;
    background-color: #4b9b68;
    padding: 18px;
    border-radius: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.minhasTarefas {
    color: #2a2622
}

.infoTarefas {
    color: #9e968c;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 300px;
    border: 1px solid #e7e1da;
    border-radius: 15px;
    background-color: #fdfdfb;
    gap: 15px;
}

.formSuperior {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
}

input {
    font-size: 15px;
    border: none;
    height: 20px;
    border-radius: 10px;
    padding: 10px 10px;
}

input:focus {
    outline: 1px solid #b4b4b4;
}

.inputBox {
    cursor: pointer;
}

textarea {
    font-size: 15px;
    padding: 10px 10px;
    background-color: #fcfaf8;
    border: 1px solid #e7e1da;
    border-radius: 15px;
    resize: none; 
}

textarea:focus {
    outline: 1px solid #b4b4b4;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 120px;
    background-color: #4b9b68;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.formInferior {
    display: flex;
    justify-content: flex-end;
    align-items: first end;
    padding: 10px;
    padding-right: 25px;
    flex-direction: column;
    border: solid;
    background-color: #faf9f6;
    border: 1px solid #e7e1da;
    border-radius: 0px 0px 10px 10px;
    /* transition: 1s ease; */
}

.iconMais {
    width: 25px;
}

.abas {
    display: flex;
    align-items: center;
    width: 40%;
    min-width: 290px;
    gap: 10px;
    background-color: #f6f4f2;
    border-radius: 15px;
    padding: 5px;
}

.aba {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    color: #a68075;
    width: 75px;
    transition: 0.5s ease;
}

.aba.ativa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 75px;
    min-width: 60px;
    color: #2a2622;
}

.qntTarefaTodas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #f3f0ed;
}

.aba:hover {
    color: black;
    transition: 0.5s ease;
}


.qntTarefaPendentes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #f3f0ed;

}



.qntTarefaConcluidas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #f3f0ed;
}

a {
    text-decoration: none;
}

.inputBox {
    width: 50px;
    border-radius: 20%;
}

.listaTarefas {
    display: flex;
    width: 40%;
    min-width: 300px;
    flex-direction: column;
    gap: 15px;
}

.semTarefas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    text-align: center;
}

.msgTarefas {
    color: #a68075;
    text-align: center;
}

.cardTarefa {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
    background-color: #fdfdfb;
    border: 1px solid #e7e1da;
    border-radius: 10px;
    min-width: 255px;
    width: auto;
    transition: 0.5s ease;
}

.cardTarefa:hover {
    transition: 0.5 ease;
    box-shadow: 0px 0px 5px 1px #b1b1b1;
}

.iconCirculo {
    padding: 10px;
    width: 35px;
    background-color: #f6f4f2;
    border-radius: 50px;
}

.iconCheck {
    padding: 10px;
    width: 35px;
    background-color: #f6f4f2;
    border-radius: 50px;
}

.iconAgenda {
    padding: 10px;
    width: 35px;
    background-color: #f6f4f2;
    border-radius: 50px;
}

.msgNenhumaTarefa {
    font-size: 20px;
    color: #2a2622;
    text-align: center;
}


.nomeTarefa {
    color: #2a2622;
    font-size: 20px;
    flex-wrap: wrap;
}

.nomeTarefaConcluida, .descricaoTarefaConcluida, .statusTarefaConluido {
    text-decoration: line-through;
    opacity: 0.6;
}

.nomeTarefaConcluida {
    color: #2a2622;
    font-size: 20px;
    flex-wrap: wrap;
}

.descricaoTarefa {
    color: #918a82;
    font-size: 18px;
    flex-wrap: wrap;
}

.descricaoTarefaConcluida {
    color: #918a82;
    font-size: 18px;
    flex-wrap: wrap;
}

.statusTarefaPendente {
    color: #e8883b;
}

.statusTarefaConluido {
    color: #7cc596;
}

.botoesCard {
    display: flex;
    justify-content: end;
    gap: 10px;
    width: auto;
    flex-wrap: wrap;
}
.iconLapis, .iconLixeira {
    width: 15px;
    opacity: 0;
    padding: 10px;
    transition: 0.5s ease;
}

.cardTarefa:hover .iconLapis{
    transition: 0.5s ease;
    opacity: 1;
}


.cardTarefa:hover .iconLixeira{
    transition: 0.5s ease;
    opacity: 1;
}

.iconLapis:hover {
    border-radius: 10px;
    background-color: #e8883b;
    transition: 0.5s ease;
}

.iconLixeira:hover {
    border-radius: 10px;
    background-color: #e8883b;
    transition: 0.5s ease;
}

.conteudoCard {
    display: flex;
    gap: 5px;
    width: 65%;
    flex-direction: column;
}
