<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/static.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gerenciador de Tarefas</title>
</head>
<body>
    <header>
        <div class="headerInterno">
            <img src="{{ url_for('static', filename='img/check-svgrepo-com.svg') }}" alt="" class="iconQuadradoVerificado">
            <div class="info">
                <h1 class="minhasTarefas">
                    Minhas Tarefas
                </h1>
                <p class="infoTarefas">
                    {{ quantidade.qnt_pendentes }} pendente(s) • {{ quantidade.qnt_concluidas }} concluida(s)
                </p>
            </div>
        </div>
    </header>
    <main>
        <form action="{{ url_for('adicionar_tarefa') }}" method="post" class="formulario">
            <div class="formSuperior">
                <input type="text" name="tarefa" id="tarefa" placeholder="O que você precisa fazer?" required>
            </div>
        </form>
        <div class="abas">
            <a href="/" class="aba {{ 'ativa' if id is not defined or id == 0 else '' }}">
                <p class="todas">
                    Todas
                </p>
                <p class="qntTarefaTodas">{{ quantidade.qnt_todas }}</p>
            </a>
            <a href="{{ url_for('escolha_aba', id=1) }}" class="aba {{ 'ativa' if id == 1 else '' }}">
                <p class="pendentes">
                    Pendentes
                </p>
                <p class="qntTarefaPendentes">{{ quantidade.qnt_pendentes }}</p>
            </a>
            <a href="{{ url_for('escolha_aba', id=2) }}" class="aba {{ 'ativa' if id == 2 else '' }}">
                <p class="concluidas">
                    Concluídas
                </p>
                <p class="qntTarefaConcluidas">{{ quantidade.qnt_concluidas }}</p>
            </a>

        </div>

        {% if id == 1 %}
        <div class="listaTarefas">
            {% if quantidade.qnt_pendentes > 0 %}
                {% for tarefa in tarefas %}
                    {% if tarefa.status == False %}
                    <form class="cardTarefa" method="post" action="{{ url_for('atualizar_status', id_tarefa=tarefa.id) }}">
                        <input type="checkbox" name="feito" id="tarefa-{{ tarefa.id }}" class="inputBox" onchange="this.form.submit()" onchange="this.form.submit()">
                        <div class="conteudoCard">
                            <label for="tarefa-{{ tarefa.id }}" class="nomeTarefa">
                                {{ tarefa.tarefa }}
                            </label>
                            <p class="descricaoTarefa">
                                {{ tarefa.descricao }}
                            </p>            
                            <p class="statusTarefaPendente">
                                Pendente
                            </p>
                        </div>
                        <div class="botoesCard">
                            <a href="" class="editar">
                                <img src="{{ url_for('static',  filename='img/pencil-svgrepo-com.svg') }}" alt="" class="iconLapis">
                            </a>
                            <a href="{{ url_for('excluir_tarefa', id=tarefa.id) }}" class="excluir">
                                <img src="{{ url_for('static',  filename='img/trash-can-svgrepo-com.svg') }}" alt="" class="iconLixeira">
                            </a>                           
                        </div>
                    </form>
                    {% endif %}
                {% endfor %}
            {% else %}
            <div class="semTarefas">
                <img src="{{ url_for('static',  filename='img/circle-svgrepo-com.svg') }}" alt="" class="iconCirculo">
                <p class="msgNenhumaTarefa">Nenhuma tarefa pendente</p>
                <p class="msgTarefas">
                    Você concluiu todas as suas tarefas!
                </p>
            </div>
            {% endif %}
        </div>
        {% elif id == 2 %}
        <div class="listaTarefas">
            {% if quantidade.qnt_concluidas > 0 %}
                {% for tarefa in tarefas %}
                    {% if tarefa.status == True %}
                    <form class="cardTarefa" method="post" action="{{ url_for('atualizar_status', id_tarefa=tarefa.id) }}">
                        <input type="checkbox" name="feito" id="tarefa-{{ tarefa.id }}" class="inputBox" onchange="this.form.submit()" checked>
                        <div class="conteudoCard">
                            <label for="tarefa-{{ tarefa.id }}" class="nomeTarefaConcluida">
                                {{ tarefa.tarefa }}
                            </label>
                            <p class="descricaoTarefaConcluida">
                                {{ tarefa.descricao }}
                            </p>            
                            <p class="statusTarefaConluido">
                                Concluída
                            </p>
                        </div>
                        <div class="botoesCard">
                            <a href="" class="editar">
                                <img src="{{ url_for('static',  filename='img/pencil-svgrepo-com.svg') }}" alt="" class="iconLapis">
                            </a>
                            <a href="{{ url_for('excluir_tarefa', id=tarefa.id) }}" class="excluir">
                                <img src="{{ url_for('static',  filename='img/trash-can-svgrepo-com.svg') }}" alt="" class="iconLixeira">
                            </a>                           
                        </div>
                    </form>
                    {% endif %}
                {% endfor %}
            {% else %}
            <div class="semTarefas">
                <img src="{{ url_for('static',  filename='img/check-circle-svgrepo-com (2).svg') }}" alt="" class="iconCheck">
                <p class="msgNenhumaTarefa">Nenhuma tarefa conluída</p>
                <p class="msgTarefas">
                    Complete algumas tarefas para vê-las aqui
                </p>
            </div>
            {% endif %}
        </div>
        {% else %}
        <div class="listaTarefas">
            {% if quantidade.qnt_todas > 0 %}
                {% for tarefa in tarefas %}
                    {% if tarefa.status == True %}
                    <form class="cardTarefa" method="post" action="{{ url_for('atualizar_status', id_tarefa=tarefa.id) }}">
                        <input type="checkbox" name="feito" id="tarefa-{{ tarefa.id }}" class="inputBox" onchange="this.form.submit()"  checked>
                        <div class="conteudoCard">
                            <label for="tarefa-{{ tarefa.id }}" class="nomeTarefaConcluida">
                                {{ tarefa.tarefa }}
                            </label>
                            <p class="descricaoTarefaConcluida">
                                {{ tarefa.descricao }}
                            </p>
                            {% if tarefa.status == False %}
                            <p class="statusTarefaPendente">
                                Pendente
                            </p>
                            {% else %}
                            <p class="statusTarefaConluido">
                                Concluída
                            </p>
                            {% endif %}
                        </div>
                        <div class="botoesCard">
                            <a href="" class="editar">
                                <img src="{{ url_for('static',  filename='img/pencil-svgrepo-com.svg') }}" alt="" class="iconLapis">
                            </a>
                            <a href="{{ url_for('excluir_tarefa', id=tarefa.id) }}" class="excluir">
                                <img src="{{ url_for('static',  filename='img/trash-can-svgrepo-com.svg') }}" alt="" class="iconLixeira">
                            </a>                           
                        </div>
                    </form>
                    {% else %}
                    <form class="cardTarefa" method="post" action="{{ url_for('atualizar_status', id_tarefa=tarefa.id) }}">
                        <input type="checkbox" name="feito" id="tarefa-{{ tarefa.id }}" class="inputBox" onchange="this.form.submit()" >
                        <div class="conteudoCard">
                            <label for="tarefa-{{ tarefa.id }}" class="nomeTarefa">
                                {{ tarefa.tarefa }}
                            </label>
                            <p class="descricaoTarefa">
                                {{ tarefa.descricao }}
                            </p>
                            {% if tarefa.status == False %}
                            <p class="statusTarefaPendente">
                                Pendente
                            </p>
                            {% else %}
                            <p class="statusTarefaConluido">
                                Concluída
                            </p>
                            {% endif %}
                        </div>
                        <div class="botoesCard">
                            <a href="" class="editar">
                                <img src="{{ url_for('static',  filename='img/pencil-svgrepo-com.svg') }}" alt="" class="iconLapis">
                            </a>
                            <a href="{{ url_for('excluir_tarefa', id=tarefa.id) }}" class="excluir">
                                <img src="{{ url_for('static',  filename='img/trash-can-svgrepo-com.svg') }}" alt="" class="iconLixeira">
                            </a>                           
                        </div>
                    </form>
                    {% endif %}
                {% endfor %}
            {% else %}
            <div class="semTarefas">
                <img src="{{ url_for('static',  filename='img/clipboard-list-todo-svgrepo-com.svg') }}" alt="" class="iconAgenda">
                <p class="msgNenhumaTarefa">Nenhuma tarefa ainda</p>
                <p class="msgTarefas">
                    Comece adicionando sua primeira tarefa acima
                </p>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>